{% extends "partial/layout.html" %}
{% block set_title %} - Faculty List {% endblock set_title %}

{% block page_heading %}Faculty List{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="btn-group pull-right" role="group" aria-label="Page Action">
            <a href="{% url 'create-faculty' %}" class="btn btn-primary" title="Create New Faculty">Create New Faculty <i class="fa fa-plus" aria-hidden="true"></i></a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div id="flash_msg">{% include "partial/msg-temp.html" %}</div>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Mobile</th>
                            <th>Created</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for faculty in faculties %}
                            <tr>
                                <td>{{ forloop.counter }}.</td>
                                <td>{{ faculty.name }}</td>
                                <td>{{ faculty.email }}</td>
                                <td>{{ faculty.mobile }}</td>
                                <td>{{ faculty.created_on|date:"d M, Y" }}</td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="100%">No Records found</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock page_content %}
